@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/raleway/raleway-800.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/rubik/rubik-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/rubik/rubik-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/rubik/rubik-800.woff2) format("woff2");
    font-display: swap;
}

html{
    height: 100%;
}

body{
    font-family: "Rubik", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: white;
    color: #444444;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-header{
    width: 1160px;
    margin: 0 auto;
}

.logo{
    display: block;
    margin-top: 17px;
    margin-left: 61px;
}

.logo-position{
    position: relative;
    top: 14px;
}

.navigation{
    background: #FFE17F;
    display: flex;
    width: 1160px;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 49px;
    padding-bottom: 46px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
}

.navigation-link{
    color: #000000;
    text-decoration-line: none;
}

.navigation-link:hover{
    opacity: 0.6;
}

.navigation-link:active{
    opacity: 0.3;
}

.navigation-link:focus{
    outline: 2px solid #AF4FFF;
    border-radius: 20px;
    box-sizing: content-box;
}

.navigation-link:active:focus{
    outline: 0;
}

.navigation-item{
    list-style-type: none;
}

.navigation-list{
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;   
    text-transform: uppercase;
    padding: 0;
    display: flex;
}

.navigation-user{
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    margin-bottom: 29px;
    padding: 0; 
    display: flex;
}

.search-form{
    display: flex;
    position: relative;
    padding-left: 36px;
    width: 480px;
}

.search-icon{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.header-search{
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 480px;
    background: #FFE17F;
    padding-right: 56px;
}

.search-button{
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #000;
    visibility: hidden;
}

.login-item{
    display: flex;
    margin-right: 15px;
    width: 220px;
}

.log-in{
    padding-left: 25px;
    display: flex;
    align-items: center;
}

.log-off{
    border: none;
    background: #FFE17F;
    opacity: 0.3;
}

.log-in-svg{
    margin-right: 12px;
}

.compare{
    width: 100px;
    margin-right: 29px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.compare-svg{
    margin-right: 10px;
}

.cart{
    width: 100px;
    padding-left: 26px;
    display: flex;
    align-items: center;
}

.cart-svg{
    margin-right: 10px;
}

.navigation-catalog{
    color: #000000;
    text-decoration-line: none;
    width: 236px;
    display: flex;
    align-items: center;
    position: relative;
}

/* .navigation-catalog:focus{
    outline: 2px solid #AF4FFF;
    border-radius: 25px;
    padding-top: 14px;
    padding-right: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.navigation-catalog:active:focus{
    outline: 0;
} */


.navigation-catalog::after {
    content: "";
    position: absolute;
    right: -28px;
    width: 50px;
    height: 50px;
    background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.navigation-catalog:hover::after{
    content: "";
    position: absolute;
    right: -28px;
    width: 50px;
    height: 50px;
    background-image: url(../images/minus.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid black;
    border-radius: 50%;
}

.navigation-catalog:active{
    opacity: 0.3;
}

.navigation-catalog:active::after{
    content: "";
    position: absolute;
    right: -28px;
    width: 50px;
    height: 50px;
    background-image: url(../images/minus.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.navigation-delivery{
    width: 140px;
    margin-left: auto;
    margin-right: 19px;
}

.navigation-guarantee{
    width: 140px;
    margin-right: 62px;
}

.navigation-contacts{
    width: 140px;
}

.navigation-services{
    color: #000000;
    text-decoration-line: none;
}

.navigation-services:hover{
    width: 125px;
    border-bottom: 2px solid #000000;
}

.navigation-services:active{
    width: 125px;
    opacity: 0.3;
    border-bottom: 2px solid #000000;
}

/* .navigation-services:focus{
    outline: 2px solid #AF4FFF;
    box-sizing: content-box;
    border-radius: 25px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.navigation-services:active:focus{
    outline: 0;
} */

.main-container{
    flex-grow: 1;
}

.page-container{
    width: 1160px;
    margin: 0 auto;
}

.catalog{
    font-family: "Raleway", Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;  
    text-transform: uppercase;  
    color: #000000;
    text-decoration-line: none;
}

.slider-item{
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
    display: flex;
    list-style-type: none;
}

.slider-picture{
    margin-right: 40px;
    width: 560px;
}

.slider-text{
    display: block;
    width: 560px;
}

.populars-title{
    font-family: "Raleway", Arial, sans-serif;
    font-size: 50px;
    line-height: 50px;   
    font-weight: 800;  
    color: #000000;
    margin-top: 0;
    margin-bottom: 19;
}

.populars-text{
    margin: 0;
    margin-bottom: 30px;
}

.slaider-link-container{
    position: relative;
}

.slider-pagination{
    list-style-type: none; 
    position: absolute;
    right: 93px;
    top: 0;
    margin-left: auto;
}

.slider-pagination-item{
    display: inline-block;
    margin-right: 28px;
    padding: 0;
    margin: 0;
}

/* .slider-pagination-button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.slider-pagination-button:active{
    background-color: black;
} */

.slider-more-link{
    display: block;
    box-sizing: border-box;
    width: 220px;
    padding-top: 14px;
    padding-bottom: 16px;
}

.specifications-container{
    display: flex;
}

.specifications{
    display: flex;
    flex-direction: column;
}

.measure{
    font-size: 36px;
    line-height: 30px;
    width: 160px;
}

.feature{
    font-size: 16px;
    line-height: 30px;   
    color: #444444;
    width: 160px;
    margin-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.categories-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 70px;
}

.categories-item{
    list-style-type: none;
    width: 160px;
    position: relative;

}

.categories-link{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 18px;
    line-height: 24px;
    font-weight: 800; 
    color: #000000;
    text-decoration-line: none;
    padding: 0;
    margin: 0;
}

.categories-link:hover .category-image{
    background: #FFC700;
}

.categories-link:active .category-image{
    background: #FFC700;
}

.categories-link:active .category-image svg{
    fill-opacity: 0.3;
}

.categories-link:active p{
    color: rgba(0, 0, 0, 0.3)
}

.categories-link:focus{
    color: #AF4FFF;
}

.categories-link:focus .category-image{
    outline: 5px solid #AF4FFF;
}

.categories-link:active:focus .category-image{
    outline: 0;
}

.category-image{
    display: block;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    position: relative;
    margin-bottom: 33px;
}

.category-image svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  
.services{
    background: #F0F0F0;
}

.services-container{
    display: flex;
    background-image: url("../images/delivery-man.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 136px 164px;
    margin-top: 69px;
    margin-bottom: 90px;
}

.services-list{
    width: 280px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    border-right: 7px solid #000;
    margin-right: 120px;
}

.services-item{
    list-style-type: none;
    width: 160px;
    padding: 0;
    margin: 0;
    margin-bottom: 44px;
}

.services-item:last-child{
    margin-bottom: 0;
}

.services-button{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;   
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration-line: none;
    border: 0;
    display: block;
    box-sizing: border-box;
    width: 160px;
    padding-top: 9px;
    padding-bottom: 11px;
    position: relative;
    z-index: 1;
}

.services-button:hover{
    background: #FFC700;
}

.services-button::after{
    content: "";
    position: absolute;
    height: 8px;
    left: 0;
    top: 50%;
    z-index: -1;
    width: 100%;
    background-color: #f0c52e;
    transform: translateY(-50%);
}

.services-button:active{
    width: 280px;
    color: #FFE17F;
    background-color: black;
}

.services-button:hover:focus::after{
    content: "";
    position: absolute;
    height: 8px;
    left: 0;
    top: 50%;
    z-index: -1;
    width: 100%;
    background-color: #f0c52e;
    transform: translateY(-50%);
}

.services-button:active::after{
    content: "";
    position: absolute;
    height: 8px;
    left: 0;
    top: 50%;
    z-index: -1;
    width: 100%;
    background-color: black;
    transform: translateY(-50%);
}

.services-button:focus::after{
    content: "";
    position: absolute;
    height: 8px;
    left: 0;
    top: 50%;
    z-index: -1;
    width: 100%;
    background-color: #AF4FFF;
    transform: translateY(-50%);
}

.services-button:focus:active::after{
    content: "";
    position: absolute;
    height: 8px;
    left: 0;
    top: 50%;
    z-index: -1;
    width: 100%;
    background-color: black;
    transform: translateY(-50%);
}

.services-title{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;  
    color: #000000;
    width: 560px;
    margin-top: 0;
    margin-bottom: 14px;
    padding-bottom: 20px;
}

.services-description{
    width: 497px;
    margin: 0;
}

.button{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;   
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration-line: none;
    position: relative;
}

.button::after{
    content: "";
    position: absolute;
    height: 8px;
    left: 0;
    top: 50%;
    z-index: -1;
    width: 100%;
    background-color: #FFE17F;
    transform: translateY(-50%);
}

.button:hover{
    background-color: #FFE17F;
}

.button:active{
    background-color: #FFE17F;
    color: rgba(0, 0, 0, 0.3);
}

.button:focus::after{
    content: "";
    position: absolute;
    height: 8px;
    left: 0;
    top: 50%;
    z-index: -1;
    width: 100%;
    background-color: #AF4FFF;
    transform: translateY(-50%);
}

.bonus-link{
    text-decoration-line: none;
    background: #F0F0F0;
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 20px;
    line-height: 23px;
    font-weight: 800;   
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    height: 100px;
    align-items: center;
}

.bonus-link:focus{
    outline: 5px solid #AF4FFF;
}

.bonus-link:hover{
    background: #EBEBEB;
}

.bonus-link:hover .delivery-car{
    background: #FFC700;
}

.bonus-link:hover .info{
    background: #DCDCDC;
}

.bonus-link:active{
    background: #EBEBEB;
    color: rgba(0, 0, 0, 0.3);
}

.bonus-link:active:focus{
    outline: 0;
}

.bonus-link:active .delivery-car{
    background: #FFC700;
}

.bonus-link:active .delivery-car svg{
    background: #FFC700;
    fill: rgba(0, 0, 0, 0.3);
}

.bonus-link:active .info{
    background: #DCDCDC;
}

.bonus-link:active .info{
    background: #DCDCDC;
    fill: rgba(0, 0, 0, 0.3);
}

.delivery-car{
    margin-right: auto;
    display: block;
    width: 125px;
    height: 100px;
    background-color: #FFE17F;
    position: relative;
}

.delivery-car svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.info{
    margin-left: auto;
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 45px;
    background: rgba(220, 220, 220, 0.5);
    border-radius: 50%;
    position: relative;
}

.info svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.information-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 87px;
}

.about-title{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;  
    color: #000000;
    width: 560px;
    padding-bottom: 20px;
    margin: 146px 0 26px 0;
}

.about-text{
    width: 498px;
    margin: 0;
    margin-bottom: 23px;
}

.delivery-company{
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 52px;
}

.delivery-company-item{
    margin-bottom: 20px;
}

.more-details{
    display: block;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 16px;
    width: 260px;
}

.contacts-title{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;  
    color: #000000;
    width: 560px;
    padding-bottom: 20px;
    margin: 146px 0 26px 0;
}

.contacts-text{
    width: 497px;
    margin: 0;
}

.contacts-subtitle{
    color: #444444;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    width: 358px;
}

.contacts-address-text{
    width: 513px;
}

.contacts-phone{
    color: #444444;
    text-decoration: underline;
}

.contacts-schedule-item{
    list-style-type: none;
}

.write-to-us{
    display: block;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 16px;
    width: 260px;
}

.newsletters{
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 131px;
}

.newsletters-text{
    display: flex;
    align-items: center;
}

.newsletters-title{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;  
    color: #000000;
    width: 560px;
    margin: 0;
    margin-right: 40px;
    margin-bottom: 53px;
}

.newsletters-description{
    width: 560px;
    margin: 0;
    margin-bottom: 50px;
}

.newsletter-email{
    display: flex;
}

.field{
    width: 601px;
}

.newsletter-button{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;   
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration-line: none;
    width: 260px;
    margin-right: 171px;
}

.it-is-free{
    width: 129px;
    padding-left: 35px;
    background-image: url("../images/check-mark.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: left;
}

.page-footer{
    background-color: #444444;
    color: #FFFFFF;
}

.page-footer-container{
    display: grid;
    grid-template-areas: "adress . . "
                         "adress nav phone"
                         ". nav phone";
    grid-template-columns: 352px 458px 350px;
    width: 1160px;
    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 61px;
}

.footer-adress{
    grid-area: adress;
}

.footer-logo{
    margin-bottom: 35px;
}

.adress{
    font-size: 16px;
    line-height: 19px;
    width: 238px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    grid-area: nav;
}

.footer-navigation-list{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 63px;
}

.footer-navigation-link{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;  
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: none;
}

.footer-navigation-link:hover{
    color: #FFC700;
    border-bottom: 2px solid #FFC700;
    width: 125px;
}

.footer-navigation-link:active{
    opacity: 0.3;
}

/* .footer-navigation-link:focus{
    outline: 2px solid #AF4FFF;
    box-sizing: border-box;
    border-radius: 25px;
}

..footer-navigation-link:active:focus{
    outline: 0;
} */

.footer-navigation-item{
    list-style-type: none;
    width: 148px;
    padding: 0;
    margin-right: 7px;
}

.footer-navigation-list:nth-child(3n){
    margin-right: 0;
}

.footer-social-list{
    display: flex;
    flex-wrap: wrap; 
    padding: 0;
    margin: auto;
}

.footer-social-item{
    list-style-type: none;
    margin-right: 15px;
}

.footer-social-list:nth-child(3n){
    margin-right: 0;
}

.footer-social-link{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
}

.footer-social-link svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-social-link:hover {
    background: #FFC700;
}

.footer-social-link:active {
    opacity: 0.6;
}

/* .footer-social-link:focus {
    outline: 5px solid #AF4FFF;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #444444;
}

.footer-social-link:active:focus{
    background: #FFC700;
    opacity: 0.6;
    outline: 0;
}

.footer-social-link:focus #social-icon{
    fill: white;
}

.footer-social-link:active:focus #social-icon{
    fill: #444444;;
} */

.footer-phone{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-area: phone;
}

.phone{
    font-size: 16px;
    line-height: 30px;   
    margin-bottom: 53px;
    display: block;
    color: #FFFFFF;
    text-decoration-line: none;
}

.phone:hover{
    color: #FFC700;
}

.phone:active{
    border: 0;
    opacity: 0.3;
}

.phone:focus{
    outline: 2px solid #AF4FFF;
    box-sizing: border-box;
    border-radius: 25px;
}

.phone:active:focus{
    outline: 0;
}

.htmlacademy{
    display: block;
    width: 115px;
}

svg:hover #htmlacademy{
    fill: white;
}

.htmlacademy:active svg{
    fill: white;
    opacity: 0.3; 
}

.htmlacademy:focus{
    outline: 2px solid #AF4FFF;
    box-sizing: border-box;
    border-radius: 10px;
}

.htmlacademy:active:focus{
    outline: 0;
}

/* Каталог */

.inner-header-title{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;  
    color: #000000;
    margin-left: 60px;
    margin-top: 37px;
    margin-bottom: 14px
}

.breadcrumbs{
    display: flex;
    padding: 0;
    margin-left: 60px;
    margin-bottom: 49px;
}

.breadcrumbs-item{
    list-style-type: none;
    margin-right: 35px;
    position: relative;
}

.breadcrumbs-item:nth-of-type(1):after{
    content: "";
    top: 50%;
    right: -17px;
    width: 4px;
    height: 7px;
    position: absolute;
    transform: translateY(-2px);
    background-image: url(../images/breadcrumbs.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
}

.breadcrumbs-item:nth-of-type(2):after{
    content: "";
    top: 50%;
    right: -17px;
    width: 4px;
    height: 7px;
    position: absolute;
    transform: translateY(-2px);
    background-image: url(../images/breadcrumbs.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
}

.breadcrumbs-link{
    font-size: 16px;
    line-height: 19px;
    color:  rgba(0, 0, 0, 0.6);
    text-decoration-line: none;
}

.breadcrumbs-link:hover{
    color: rgba(0, 0, 0, 1);
}

.breadcrumbs-link:active{
    color:  rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link:focus{
    border: 5px solid #AF4FFF;
    padding-left: 13px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 6px;
}

.catalog-products-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.catalog-left-column{
    display: flex;
    flex-direction: column;
    width: 330px;
}

.catalog-header-left{
    display: block;
    min-height: 70px;
    background: #DCDCDC;
    position: relative;
}

.catalog-header-left::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 100vw;
    height: 100%;
  
    background-color: #DCDCDC;
  }

.catalog-filter{
    background: #EBEBEB;
    height: 100%;
    width: 330px;
    box-sizing: border-box;
    position: relative;
}

.catalog-filter::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 100vw;
    height: 100%;
  
    background-color: #EBEBEB;
  }

.catalog-filter-title{
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
}

.catalog-filter-item{
    list-style-type: none;
}

.filter-title{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 16px;
    line-height: 19px;
    font-weight: 800;  
    text-transform: uppercase;
    color: #000000;
    display: block;
    width: 330px;
    margin: 0;
    padding-top: 25px;
    padding-right: 32px;
    padding-bottom: 25px;
    padding-left: 62px;
}

.control{
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.show{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;   
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration-line: none;
    display: block;
    box-sizing: border-box;
    width: 200px;
    padding-top: 7px;
    padding-bottom: 5px;
    border: 0;
    position: relative;
    z-index: 1;
}

.show:after{
    content: "";
    position: absolute;
    height: 8px;
    left: 0;
    top: 50%;
    z-index: -1;
    width: 100%;
    background-color: #FFC700;;
    transform: translateY(-2px);
}

.show:hover{
    background: #FFC700;
}

.show:active{
    color:rgba(0, 0, 0, 0.3);
}

.select-control{
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    width: 163px;
}

.catalog-right-column{
    display: flex;
    flex-direction: column;
}

.catalog-header-right{
    display: flex;
    min-height: 70px;
    background-color: #EBEBEB;
    position: relative;
}

.catalog-header-right:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100%;
  
    background-color: #EBEBEB;
  }

.sorting-title{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 16px;
    line-height: 19px;
    font-weight: 800;  
    text-transform: uppercase;
    color: #000000;
    display: block;
    width: 330px;
    margin: 0;
    padding-top: 25px;
    padding-right: ;
    padding-bottom: 25px;
    padding-left: 72px;
}

.sort-up{
    position: relative;
    margin-right: 19px;
}

.sort-up::before{
    position: absolute;
    content: '';
    background-image: url(../images/sort-up.svg);
    width: 11px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
}

.sort-down{
    position: relative;
}

.sort-down::before{
    position: absolute;
    content: '';
    background-image: url(../images/sort-down.svg);
    width: 11px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
}

.product-list{
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 40px 44px;
    padding: 0;
    margin-bottom: 44px;
    background-color: white;
    padding-left: 72px;
}

.product-card{
    list-style-type: none;
    margin: 0;
}

.product-card-link{
    display: grid;
    grid-template-columns: 280px auto;
    grid-template-rows: 380px 50px;
    row-gap: 32px;
    text-decoration-line: none;
}

.product-card-image{
    grid-column: 1/3;
    grid-row: 1/2;
}

.product-card-title{
    font-family: "Rubik", Arial, sans-serif;
    width: 280px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: -0.02em;
    color: #000000;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0;
    margin: 0;
}

.price{
    max-width: 70px;
    font-size: 18px;
    line-height: 21px;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: right;
    color: #444444;
}

.details{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;  
    text-transform: uppercase;
    text-align: center;
    color: #000000; 
    text-decoration-line: none;
    display: none;
    position: relative;
    z-index: 1;
    width: 180px;
    top: -324px;
    left: 180px;
    transform: translate(-50%, 50%);
}

.details::after{
    content: "";
    position: absolute;
    height: 8px;
    left: 0;
    top: 7px;
    z-index: -1;
    width: 100%;
    background-color: #FFC700;
}

.product-card-link:hover .details{
    display: block;
}

.product-card-link:focus .product-card-image{
    outline: 5px solid #AF4FFF;
    box-sizing: border-box;
}

.product-card-link:focus{
    color: #AF4FFF;
}

.product-card-link:focus .product-card-title{
    color: #AF4FFF;
}

.product-card-link:focus .price{
    color: #AF4FFF;
}

.product-card-link:focus .details{
    display: none;
}

.load{
    font-family: "Raleway", Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 55px;
    background-color: white;
    border: 3px solid #EBEBEB;
    margin-bottom: 51px;
    width: 760px;
    margin-left: 72px;
}

.load:hover{
    border: 3px solid #000000;
    box-sizing: border-box;
}

.load:active{
    opacity: 0.3;
}

.load:focus{
    border: 5px solid #AF4FFF;
    box-sizing: border-box;
}

.pagination-catalog{
    background: #EBEBEB;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-bottom: 77px;
    width: 760px;
    margin-left: 72px;
}

.pagination-prev{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 16px;
    line-height: 19px;
    font-weight: 800;  
    text-transform: uppercase;
    color: #000000; 
    text-decoration-line: none;
    width: 127px;
    padding-top: 27px;
    padding-bottom: 24px;
    display: block;
    text-align: center;
}

.pagination-prev:hover{
    background-color: #DCDCDC;
}

.pagination-prev:active{
    opacity: 0.3;
}

.pagination-prev:focus{
    outline: 5px solid #AF4FFF;
    box-sizing: border-box;
}

.pagination-prev:active:focus{
    outline: 0;
}

.pagination-next{
    font-family: "Raleway", Arial, sans-serif;  
    font-size: 16px;
    line-height: 19px;
    font-weight: 800;  
    text-transform: uppercase;
    color: #000000; 
    text-align: right;
    text-decoration-line: none;
    width: 127px;
    padding-top: 27px;
    padding-bottom: 24px;
    display: block;
    text-align: center;
}

.pagination-next:hover{
    background-color: #DCDCDC;
}

.pagination-next:active{
    opacity: 0.3;
}

.pagination-next:focus{
    outline: 5px solid #AF4FFF;
    box-sizing: border-box;
}

.pagination-next:active:focus{
    outline: 0;
}

.pagination-item{
    list-style-type: none;
    margin-right: 25px;
}

.pagination-item:first-of-type{
    margin-right: auto;
}

.pagination-item:last-of-type{
    margin-right: 0;
    margin-left: auto;
}

.pagination-item:nth-last-of-type(2){
    max-width: 0;
}

.pagination-link{
    font-size: 16px;
    line-height: 19px;
    color: rgba(68, 68, 68, 0.3);
    text-decoration-line: none;
}

.pagination-link:hover{
    color: #444444;
}

.pagination-link:active{
    opacity: 0.1;
}

.pagination-link:focus{
    outline: 5px solid #AF4FFF;
    box-sizing: border-box;
}

.pagination-link:active:focus{
    outline: 0;
}
